<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wordsearch Maker</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

      <!-- Libraries -->
      <script src="js/shared/angular.min.js"></script>
      <script src="js/shared/jquery.min.js"></script>
      <script src="js/shared/bootstrap.min.js"></script>
  </head>
  <body ng-app="WordSearchMaker">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>Word Search Maker</h1>
        </div>
      </div>
      <div class="row container-fluid" ng-controller="WordSearchMakerCtrl" ng-init="init()">
        <!-- Setting it all up -->
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <h2>Word Search Size:</h2>
            <div class="row">
              <div class="col-md-2">
                <label>Width:</label>
              </div>
              <div class="col-md-4">
                <input type="number" ng-model="width" min="10" max="100" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label>Length:</label>
              </div>
              <div class="col-md-4">
                <input type="number" ng-model="length" min="10" max="100" />
              </div>
            </div>
            <input type="button" ng-click="save(width, length)" value="Save" />
          </div>
          <div class="col-md-3">
            <h2>Add Words</h2>
            <div class="row">
              <div class="col-md-4">
                <input type="text" ng-model="word" />
              </div>
              <div class="col-md-4">
                <input type="button" ng-click="addWord(word)" value="Add Word" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- The Word List -->
          <div class="col-md-3 col-md-offset-3">
            <h2>Word List</h2>
            <div ng-repeat="word in words">
              <span id="{{word}}">{{word}}</span>
            </div>
          </div>


          <div class="col-md-6">

            <ul id="myTabs" class="nav nav-tabs" role="tablist" style="display: inline-block;">
             <li role="presentation" class="active">
               <a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a>
             </li>
             <li role="presentation">
               <a href="#answer" aria-controls="answer" role="tab" data-toggle="tab">Answer Key</a>
             </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="game">
                <!-- The Game -->
                <h2>Game</h2>
                <div style="font-family: Courier; font-size: 24px;">
                  <div ng-repeat="row in grid">
                    <span ng-repeat="item in row track by $index" id="item-{{$parent.$index}}-{{$index}}" ng-mousedown="mouseDownLetter($parent.$index, $index, item)"
                        ng-mouseup="mouseUpLetter($parent.$index, $index)" ng-mouseenter="mouseEnterLetter($parent.$index, $index, item)" >
                      {{item}}
                    </span>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="answer">
                <!-- The Game -->
                <h2>Answer Key</h2>
                <div style="font-family: Courier; font-size: 24px;">
                  <div ng-repeat="row in answers">
                    {{row.join(" ")}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>`

    </div>
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/controller.js"></script>

  </body>
</html>
